@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Montserrat", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

/*font-family: "Libre Bodoni", serif;*/
* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1199px;
}

body {
    /* background-color: #e6e6e6; */
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 2.875rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

/*46px regular*/
@media(max-width: 992px) {
    .h1 {
        font-size: 1.875rem;
    }
}

/*30px regular */
h2 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: #934f10;
}

/*40px regulart*/
@media(max-width: 992px) {
    .h2 {
        font-size: 1.875rem;
    }
}

/*30px regular */
h3 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

/*24px regular*/
h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

/*20px regular*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* width */
::-webkit-scrollbar-thumb {
    background: #bfa596;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
    background: #ba9f90;
}

/* Handle on hover */
/*-----------------COMMON-CLASSES-------------*/
hr {
    height: 4px;
    color: #724e3d;
    background-color: #724e3d;
    margin-bottom: 33px;
}

/*-----------------BANNER-------------*/
#banner {
    background: url(../../assets/img/bg-production.png)center center no-repeat;
    background-size: cover;
}

.banner {
    height: 200vh;
}

@media(max-width: 786px) {
    .banner {
        height: 250vh;
    }
}

.display-4 {
    font-family: "Libre Bodoni", serif;
}

.logo-container {
    width: 100%;
    text-align: center;
}

.logo-image {
    max-width: 150px;
    margin: 0 auto;
    padding-top: 22px;
}

@media (max-width: 992px) {
    #furniture {
        max-width: 230px !important
    }
    .furniture-image {
        top: 79% !important
    }
    .furniture-image {
        left: 39% !important
    }
    .logo-image {
        width: 50%;
        padding-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .logo-image {
        max-width: 120px;
    }
}

@media (max-width: 576px) {
    .logo-image {
        width: 70%;
        padding-top: 5px;
        margin-bottom: 5px;
    }
}

.overlay-card {
    background-color: rgba(255, 255, 255, 0.779);
    opacity: 0.7;
    border-radius: 55px;
    color: #934f10;
    padding: 30px;
    width: 80%;
    max-width: 900px;
    z-index: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.chair-overlap {
    margin-bottom: 190px;
}

.chair-image {
    margin: 22px auto;
    z-index: 3;
}

.chair-image img {
    margin: 0 auto;
    max-height: 500px;
}

/*-----------------BANNER-BOTTOM-TEXT--------------*/
.bottom-text {
    color: #724e3d;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 75.9%;
}

@media (max-width: 768px) {
    .overlay-card {
        padding: 20px;
        width: 90%;
    }
    .left-container{
       margin-bottom: 30px;
    }
    .chair-overlap {
        position: relative;
    }

    .bottom-text {
        margin-left: 0px;
        top: 130px;
        left: 25%;
        right: 25%;
    }

    .chair-image img {
        max-width: 250px;
        margin: 0 auto;
    }

    .logo-image {
        padding-top: 80px;
        margin: 0 auto;
        display: block;
        ;
        max-width: 200px;
    }
}

@media(max-width: 576px) {
    .chair-overlap {
        position: relative;
    }
    .bottom-text {
        font-size: 0.7rem;
        text-align: center;
        margin-left: 0px;
        top: 130px;
        left: 8rem;
    }
}
@media(max-width: 375px) {
    .chair-overlap {
        position: relative;
    }
    .bottom-text {
        font-size: 0.7rem;
        text-align: center;
        margin-left: 0px;
        top: 130px;
        left: 10%;
        right: 10%;
    }
}

/*--------------------Feedback-Business-Card------------------*/
.feedback-business-card {
    background-color: #f1dccd;
    color: #934f10;
    padding: 0;
    margin: 0;
    border-radius: 50px;
}

/*---------------COLLECTION---------------*/
#collection .card {
    border: 2px solid #724e3d;
    background-color: #544741;
    color: #fff;
    list-style: none;
}

.card a {
    text-decoration: none;
    border: none;
    background: none;
}

/*-------------------Footer-Card-Styling-------------------*/
#footer .card {
    background-color: #f1dccd;
    color: #934f10;
}

#left-card h3 {
    color: #934f10;
}

#right-card h5 {
    color: #934f10;
}

.stars {
    color: #ffcc00;
    font-size: 24px;
}

.furniture-image {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#furniture {
    max-width: 350px;
}

#left-card,
#right-card {
    position: relative;
    z-index: 0;
}

#right-card {
    width: 101%;
    right: -2%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#left-card {
    width: 100%;
    left: -2%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media(max-width: 1030px) {
    #right-card {
        width: 100%;
        border-radius: 50px;
        right: 0%;
    }
    #right-card h5{
        font-size: 18px;
    }
    #right-card p{
        font-size: 0.95rem;
    }
    #left-card h3{
        font-size: 24px;
    }
    #left-card p{
        font-size: 0.95rem;
    }
    #left-card {
        width: 100%;
        border-radius: 50px;
        left: 0%;
        margin-bottom: 0px;
    }
    #furniture {
        max-width: 300px;
    }
    .furniture-image {
        width: 1vw;
        position: absolute;
        top: 74%;
        left: 37%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}